{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">   

    <title>desafio-python</title>
    <link rel="shortcut icon" href="{% static 'assets/python.png' %}"/>
</head>
<body>
    <main>
        <h1>API Handler</h1>
        <div class="buttons_container">
            <a class='button' href="{% url 'websites' %}">Websites</a>
            <a class='button' href="{% url 'detail' %}">Users Details</a>
            <form class="form_container" action="/">
                <input id="name" type="text" name="name" />
                <input class='button' type = "submit" value = "🔍" />
            </form>
        </div>
        {% block content %}{% endblock %}
        <div class="logout_container">
            <a class='button' href="{% url 'logout' %}">Logout</a>
        </div>
    </main>    
</body>
</html>
